[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
PyGithub = "*"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-autolinks-plugin = "*"

[requires]
python_version = "3.12"
