[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = {version = "*", extras = ["i18n"]}
mkdocs-material = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-footermatter = "*"

[requires]
python_version = "3.12"
